- provide(:title, 'Home')

.container
  .row
    .col-md-6.col-sm-12
      %h1= image_tag('name.png', style: 'width: 50%;')
      .panel.panel-default
        .panel-body
          %p Mower is a planned task manager, or CMMS.  Speed up the PDCA loop. (Plan, Do, Check, Act), by automating the planning and checking process. 
          %h4 Major Features:
          %ul
            %li Repeating Tasks Planning
            %li Automatic Task Level-Loading
            %li Data Tracking
            %li SMS Alerts
            %li PDF, Excel, and CSV data export.
            %li Work Order Tracking
            %li Department Grouping
            %li Internal Messaging 
            %li Internal Helpdesk & Support
