- provide(:title, 'Project Closed')

.container
  .row
    .col-md-12
      %h1
        This project is now closed.
      %p
        This software project has ended. Many comparable software tools have appeared on the market within the last 18 months, reducing the need for this particular project.
      %p
        You can still download an Excel spreadsheet from DropBox, containing all of the data that was entered into the system over the last two years. You only have 8 weeks to download this, so please don't delay. 
      %a.btn.btn-default{:href => 'https://www.dropbox.com/s/8hfwrhfyvmlwny0/MowerMan.xlsx?dl=0'}
        Download Record