- provide(:title, 'Search Results')

.container-fluid
  / Page Heading
  .row
    .col-lg-12
      %h1.page-header
        Search Results
        %small Plantask

  .row
    .col-lg-12
      = render @plantask_results

      = paginate @plantask_results
