- provide(:title, 'Edit Equipment')

= render 'layouts/flash' if !flash.empty?

.container-fluid
  / Page Heading
  .row
    .col-lg-12
      %h1.page-header
        Equipment
        %small Editor

  = render 'form'
