- provide(:title, 'Search Results')

.container-fluid
  / Page Heading
  .row
    .col-lg-12
      %h1.page-header
        Search Results
        %small Equipment
  
  = render 'layouts/flash' if !flash.empty?
  
  .row
    .col-lg-12
      = render @equipment_results

      = paginate @equipment_results
