- provide(:title, 'Edit Area')

.container-fluid
  / Page Heading
  .row
    .col-lg-12
      %h1.page-header
        Area
        %small Editor

  = render 'layouts/flash' if !flash.empty?

  = render 'form'