- provide(:title, 'Edit Egg Timer')

.container-fluid
  / Page Heading
  .row
    .col-lg-12
      %h1.page-header
        Egg Timer
        %small Editor

  = render 'layouts/flash' if !flash.empty?

  = render 'form'
