-provide(:title, 'Create A Workorder')

%div.row.animated.fadeInDown
  %div.col-sm-12
    %div.page-header
      %h1.pull-left
        %i.icon-briefcase
          %span
          Create a New Workorder
          
= render 'form'